/*styles go here*/
/* p {
  color:blue;
} */
p {
  color:#540032;
  /* font-family: 'Nanum Myeongjo',"Times New Roman", serif; */
  font-family: 'Lora', "Times New Roman", serif;
}

h1 {
  font-family: 'Lora', "Times New Roman", serif;
  font-style: italic;
font-weight:bold;
  color: #f0433a;
}
h3 {
  /* font-family:"Courier New", Courier, monospace; */
  font-family: 'Lora', "Times New Roman",serif;
  font-weight:bold;
  color: #820333;
}
#container {
  width:90%;
  /* margin-top:0;
  margin-right:auto;
  margin-bottom: 0;
  margin-left: auto; */
  margin:0 auto 0 auto;
}

/* #nav, #contact {
  list-style: none;
  padding:0;
}

#nav li {
  /* text-decoration: none; */


ul {
  list-style-type: none;
}
.navigation a, #contact a {
  text-decoration:none;
  margin:0;
  list-style-type: none;
  color:#dceff5;
  font-family: 'Quicksand', Helvetica, sans-serif;
  background-color: #c9283e;
  font-weight: bold;
  text-align: center;
  padding: 4px;
  display: flex;
  flex-flow: column;
}

#contact li{
  text-decoration:none;
  color:#dceff5;
  background-color: #c9283e;
  text-align: center;
  display: block;
  font-weight: bold;
  padding: 4px;
}

img {
  border:0;
}

ul {padding: 0}

.navigation a:hover, .navigation a:active {
	background-color: #f0433a;
}
#contact a:hover, #a:active {
  background-color: #f0433a;
}

img {
  100%
}


/*Setting up flexible boxes for our content*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

header, article, aside, footer {
  flex: 1 100%;
  padding: 0px;
}



/*These styles activate when the page is larger than 800px wide*/

@media (min-width:600px) {

  .navigation {
    display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      flex-flow: row;
      background-color: #c9283e;
  }

    .navigation a {
        border: none;
    }

    .navigation a:hover {
    	background: pink;
    }

.text {
  display: flex;
  flex:1 auto;
}

.joke {
  display: flex;
  flex: -1 auto;
}

img {
  display: flex;
  flex:0 auto;
}


    /*These styles apply to the floated image technique*/

            /*========================

            img {
                width: 45%;
                float: left;
                margin-right: 10px;
            }

            .first {
                margin-top: 0;
            }

            =======================*/

    /*These styles apply to the Flexbox image technique */
/*
    article {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    } */

    /*This code is for the first image attempt -- the object-fit property*/
    /*img {
        width: 45%;
        object-fit: contain;
    }*/


}
