/*styles go here*/
/* p {
  color:blue;
} */
p {
  color:#540032;
  /* font-family: 'Nanum Myeongjo',"Times New Roman", serif; */
  font-family: 'Lora', "Times New Roman", serif;
}

h1 {
  font-family: 'Lora', "Times New Roman", serif;
  font-style: italic;
font-weight:bold;
  color: #f0433a;
}
h3 {
  /* font-family:"Courier New", Courier, monospace; */
  font-family: 'Lora', "Times New Roman",serif;
  font-weight:bold;
  color: #820333;
}
#container {
  width:90%;
  /* margin-top:0;
  margin-right:auto;
  margin-bottom: 0;
  margin-left: auto; */
  margin:0 auto 0 auto;
}

/* #nav, #contact {
  list-style: none;
  padding:0;
}

#nav li {
  /* text-decoration: none; */


ul {
  list-style-type: none;
}
.navigation a, #contact a {
  text-decoration:none;
  margin:0;
  list-style-type: none;
  color:#dceff5;
  font-family: 'Quicksand', Helvetica, sans-serif;
  background-color: #c9283e;
  font-weight: bold;
  text-align: center;
  padding: 4px;
  display: flex;
  flex-flow: column;
}

#contact li{
  text-decoration:none;
  color:#dceff5;
  background-color: #c9283e;
  text-align: center;
  display: block;
  font-weight: bold;
  padding: 4px;
}

.image {
  border:0;
}

ul {padding: 0}

.navigation a:hover, .navigation a:active {
	background-color: #f0433a;
}
#contact a:hover, #a:active {
  background-color: #f0433a;
}

.image {
  width: 100%;
}


/*Setting up flexible boxes for our content*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

header, .text, .joke, .image {
  flex: 1 100%;
  padding: 0px;
}



/*These styles activate when the page is larger than 600px wide*/

@media screen and (min-width:400px) {

  .navigation {
    display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      flex-flow: row;
      background-color: #c9283e;
  }

    .navigation a {
        border: none;
    }

    .navigation a:hover {
    	background: pink;
    }

.text {
  display: flex;
  flex-direction: row;
  flex:1 auto;
  width: 45%;
  order: 3;
}

.joke {
  display: flex;
  flex-direction: row;
  flex: 1 auto;
  width: 20%;
  order: 1;
}

.image {
  display: flex;
    flex-direction: row;
  flex:1 auto;
  order: 2;

}

.image {
      width: 60%;
      margin-right: 10px;
  }


  .wrapper {
      display: flex;
      flex-flow: row wrap;
  }

}

@media screen and (min-width: 600px) {

  .wrapper {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "a b b"
    "c c e"
    ". d d";}



.joke {
  grid-area:b;

}

.image {
  grid-area:c;
}

.text {
  grid-area:d;
}

}
